@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html {
  min-height: calc(100% + env(safe-area-inset-top));
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

* {
  box-sizing: border-box;
}

.badge {
  max-height: 30px;
  min-height: 30px;
  background: #f5f5f5;
  padding: 4px 10px;
  margin: 3px;
  border-radius: 15px;
  font-weight: bold;
  white-space: nowrap;
  border: transparent solid 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
}

.badge.selected {
  border: solid 2px rgb(0, 119, 255);
}

.badge.unselected {
  opacity: 0.3;
}

.hidden {
  display: none;
}

.drop-shadow {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.flex-row {
  flex-flow: row;
}

.flex-col {
  flex-flow: column;
}

.skeleton-inner {
  flex: 1;
  min-height: 30px;
  background: #f5f5f5;
  border-radius: 5px;
  animation: loading 1s infinite ease-in;
  margin: 3px;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
