@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
}

.hidden {
  display: none;
}
