@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.drop-shadow {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
}
