@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v92/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
  font-display: block;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
}

.top-spacer {
  height: env(safe-area-inset-top);
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), transparent);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.bottom-spacer {
  height: env(safe-area-inset-bottom);
  background: #f5f5f5;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 18px;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: 100%;
  height: calc(100% + env(safe-area-inset-bottom) * 1.5);
  overflow: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

.badge {
  max-height: 30px;
  min-height: 30px;
  background: #f5f5f5;
  padding: 4px 10px;
  margin: 3px;
  border-radius: 15px;
  font-weight: bold;
  white-space: nowrap;
  border: transparent solid 2px;
  transition-duration: 0.3s;
  cursor: pointer;
  -webkit-user-select: none;
}

.badge.selected {
  border: solid 2px #4361ee;
}

.badge.unselected {
  filter: grayscale(1);
  opacity: 0.5;
}

.hidden {
  display: none;
}

.drop-shadow {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.07);
}

::-webkit-scrollbar {
  display: none;
}

.skeleton {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}

.flex-row {
  flex-flow: row;
}

.flex-col {
  flex-flow: column;
}

.skeleton-inner {
  flex: 1;
  min-height: 30px;
  background: #f5f5f5;
  border-radius: 5px;
  animation: loading 1s infinite ease-in;
  margin: 3px;
}

a {
  color: gray;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
